# Data Cleaning and Preparation

In [18]:
# Basic Libraries
import numpy as np
import pandas as pd

In [41]:
nba = pd.read_csv('all_seasons.csv')
nba.head()
nba.info()
nba_df = pd.DataFrame(nba)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12305 entries, 0 to 12304
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         12305 non-null  int64
 1   player_name        12305 non-null  object
 2   team_abbreviation  12305 non-null  object
 3   age                12305 non-null  float64
 4   player_height      12305 non-null  float64
 5   player_weight      12305 non-null  float64
 6   college            12305 non-null  object
 7   country            12305 non-null  object
 8   draft_year         12305 non-null  object
 9   draft_round        12305 non-null  object
 10  draft_number       12305 non-null  object
 11  gp                 12305 non-null  int64
 12  pts                12305 non-null  float64
 13  reb                12305 non-null  float64
 14  ast                12305 non-null  float64
 15  net_rating         12305 non-null  float64
 16  oreb_pct           12305 non-null  float64
 17  dreb_pct           12305 non-null  float64
 18  usg_pct            12305 non-null  float64
 19  ts_pct             12305 non-null  float64
 20  ast_pct            12305 non-null  float64
 21  season             12305 non-null  object
dtypes: float64(12), int64(2), object(8)
memory usage: 2.1+ MB

In [20]:
nba_df = nba_df.drop(['team_abbreviation'], axis= 1)
nba_df = nba_df.drop(['college'], axis= 1)
nba_df = nba_df.drop(['country'], axis= 1)
nba_df = nba_df.drop(['season'], axis= 1)
nba_df = nba_df.drop(['draft_year'], axis= 1)
nba_df = nba_df.drop(['player_name']), axis = 1)

In [21]:
nba_df = nba_df[nba_df['draft_round'] != 'Undrafted']
nba_df['draft_round'].unique()

array(['2', '1', '3', '4', '8', '6', '7', '0'], dtype=object)

In [22]:
nba_df = nba_df[nba_df['draft_number'] != 'Undrafted']
nba_df['draft_number'].unique()

array(['27', '24', '58', '9', '10', '29', '37', '38', '25', '13', '17',
       '18', '21', '15', '43', '14', '23', '40', '4', '11', '47', '33',
       '1', '8', '3', '19', '52', '42', '39', '6', '45', '30', '20', '48',
       '5', '79', '2', '41', '46', '34', '12', '7', '22', '57', '26',
       '35', '28', '49', '16', '32', '53', '36', '44', '165', '56', '75',
       '51', '54', '127', '139', '31', '50', '124', '63', '69', '160',
       '55', '120', '87', '66', '82', '60', '59', '78', '0'], dtype=object)

In [23]:
nba_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10028 entries, 0 to 12302
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     10028 non-null  int64
 1   player_name    10028 non-null  object
 2   age            10028 non-null  float64
 3   player_height  10028 non-null  float64
 4   player_weight  10028 non-null  float64
 5   draft_round    10028 non-null  object
 6   draft_number   10028 non-null  object
 7   gp             10028 non-null  int64
 8   pts            10028 non-null  float64
 9   reb            10028 non-null  float64
 10  ast            10028 non-null  float64
 11  net_rating     10028 non-null  float64
 12  oreb_pct       10028 non-null  float64
 13  dreb_pct       10028 non-null  float64
 14  usg_pct        10028 non-null  float64
 15  ts_pct         10028 non-null  float64
 16  ast_pct        10028 non-null  float64
dtypes: float64(12), int64(2), object(3)
memory usage: 1.4+ MB

In [24]:
nba_df['age'].describe()

count    10028.000000
mean        27.092541
std          4.480960
min         18.000000
25%         24.000000
50%         26.000000
75%         30.000000
max         44.000000
Name: age, dtype: float64

In [29]:
nba_df['age_bins'] = pd.cut(x = nba_df['age'], bins = [18, 21, 24, 27, 30, 33, 36, 39, 42 ,45])
nba_df['age_bins']

0        (33, 36]
1        (27, 30]
2        (36, 39]
3        (21, 24]
4        (33, 36]
           ...
12297    (21, 24]
12299    (21, 24]
12300    (30, 33]
12301    (21, 24]
12302    (27, 30]
Name: age_bins, Length: 10028, dtype: category
Categories (9, interval[int64, right]): [(18, 21] < (21, 24] < (24, 27] < (27, 30] ... (33, 36] < (36, 39] < (39, 42] < (42, 45]]

In [33]:
nba_df['player_height'].describe()

count    10028.000000
mean       201.285070
std          8.941039
min        160.020000
25%        195.580000
50%        203.200000
75%        208.280000
max        231.140000
Name: player_height, dtype: float64

In [34]:
nba_df['height_bins'] = pd.cut(x=nba_df['player_height'], 
                               bins=range(160, 240, 5), 
                               include_lowest=True)
nba_df['height_bins']

0        (195.0, 200.0]
1        (215.0, 220.0]
2        (205.0, 210.0]
3        (200.0, 205.0]
4        (205.0, 210.0]
              ...
12297    (205.0, 210.0]
12299    (210.0, 215.0]
12300    (205.0, 210.0]
12301    (190.0, 195.0]
12302    (190.0, 195.0]
Name: height_bins, Length: 10028, dtype: category
Categories (15, interval[float64, right]): [(159.999, 165.0] < (165.0, 170.0] < (170.0, 175.0] < (175.0, 180.0] ... (215.0, 220.0] < (220.0, 225.0] < (225.0, 230.0] < (230.0, 235.0]]

In [35]:
nba_df['player_weight'].describe()

count    10028.000000
mean       101.206787
std         12.402737
min         60.327736
25%         92.872962
50%        101.151016
75%        110.222856
max        155.582056
Name: player_weight, dtype: float64

In [37]:
nba_df['weight_bins'] = pd.cut(x=nba_df['player_weight'], 
                               bins=range(60, 155, 10), 
                               include_lowest=True)
nba_df['weight_bins']

0         (90.0, 100.0]
1        (110.0, 120.0]
2         (90.0, 100.0]
3        (100.0, 110.0]
4        (100.0, 110.0]
              ...
12297    (100.0, 110.0]
12299     (90.0, 100.0]
12300    (110.0, 120.0]
12301     (90.0, 100.0]
12302     (90.0, 100.0]
Name: weight_bins, Length: 10028, dtype: category
Categories (9, interval[float64, right]): [(59.999, 70.0] < (70.0, 80.0] < (80.0, 90.0] < (90.0, 100.0] ... (110.0, 120.0] < (120.0, 130.0] < (130.0, 140.0] < (140.0, 150.0]]

In [42]:
nba_df['dreb_pct'] = nba_df['dreb_pct'] * 100
nba_df['oreb_pct'] = nba_df['oreb_pct'] * 100
nba_df['usg_pct'] = nba_df['usg_pct'] * 100
nba_df['ts_pct'] = nba_df['ts_pct'] * 100
nba_df['ast_pct'] = nba_df['ast_pct'] * 100

In [43]:
nba_df['dreb_pct'].describe()

count    12305.000000
mean        14.101406
std          6.270416
min          0.000000
25%          9.600000
50%         13.100000
75%         18.000000
max        100.000000
Name: dreb_pct, dtype: float64

In [44]:
nba_df['pts'].describe()

count    12305.000000
mean         8.172775
std          5.974957
min          0.000000
25%          3.600000
50%          6.700000
75%         11.500000
max         36.100000
Name: pts, dtype: float64

In [45]:
nba_df['reb'].describe()

count    12305.000000
mean         3.559155
std          2.483550
min          0.000000
25%          1.800000
50%          3.000000
75%          4.700000
max         16.300000
Name: reb, dtype: float64

In [46]:
nba_df['ast'].describe()

count    12305.000000
mean         1.813986
std          1.794155
min          0.000000
25%          0.600000
50%          1.200000
75%          2.400000
max         11.700000
Name: ast, dtype: float64